<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Subnetting App</title>
    <link rel="stylesheet" th:href="@{stylesheets/dark.css}" href="../static/stylesheets/dark.css">
</head>
<body>

<div th:replace="header.html :: .header"></div>

<form action="results">
    <label for="ipField">IP address:</label>
    <input type="text" id="ipField" name="ip" value=""><br/>
    <label for="maskField">Subnet mask:</label>
    <input type="text" id="maskField" name="mask" value=""><br/>
    <input type="radio" id="simpleInfoBox" name="task" value="si" checked>
    <label for="simpleInfoBox">Simple subnet info</label>
    <input type="radio" id="partitioningBox" name="task" value="sp">
    <label for="partitioningBox">Subnet partitioning:</label>
    <input type="text" id="hostsCount" name="hostCounts"><br/>
    <input type="submit" value="Go!">
</form>

<div th:replace="footer.html :: .footer"></div>

</body>
</html>