@import url("base.css");

body {
    background-color: #323437;
    color: white;
}

.header {
}

.header .logo {
    background-color: #e2b714;
    color: #323437;
}

.header a {
    color: lightgray;
}

.header a:hover {
    color: #e2b714;
}

.container .count-label strong {
    color: #e2b714;
}

.entry {
    background-color: #323437;
    box-shadow: 2px 2px 20px black;
}

.entry:hover {
    box-shadow: 2px 2px 20px 5px black;
}

.entry .label {
    color: #e2b714;
    font-weight: bold;
}

.index-label {
    color: #323437;
    background-color: #e2b714;
    font-weight: bold;
}