@import url("base.css");

body {
    background-color: #323437;
    color: white;
    accent-color: #e2b714;
}

.header {
    background-color: #323437;
}

.header .logo {
    background-color: #e2b714;
    color: #323437;
}

.header a {
    color: lightgray;
}

.header a:hover {
    color: #e2b714;
}

form {
    box-shadow: 2px 2px 20px black;
}

form label {
    color: #e2b714;
}

form input[type="text"] {
    background-color: #2C2E31;
    color: white;
}

form input[type="text"]:focus {
   outline: 3px solid gray;
}

form input[type="submit"] {
    background-color: #2c2e31;
    color: white;

}

form input[type="submit"]:hover {
    background-color: #e2b714;
    color: #2c2e31;
}

form input[type="radio"] {
    background: #2c2e31;
    outline: 2px solid #e2b714;

}

form input[type="radio"]:checked {
    background: #e2b714;
    border: 2px solid #2c2e31;
}

form hr {
    border: 0px 0px 0px 1px solid #434445;
}

.container .count-label strong {
    color: #e2b714;
}

.entry {
    background-color: #323437;
    box-shadow: 2px 2px 20px black;
}

.entry:hover {
    box-shadow: 2px 2px 20px 5px black;
}

.entry .label {
    color: #e2b714;
    font-weight: bold;
}

.index-label {
    color: #323437;
    background-color: #e2b714;
    font-weight: bold;
}

.footer a {
    color: gray;
}

.footer a:hover {
    color: white;
}